:root {
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);

  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif !important;
  font-size: 1.8rem;
}
.container {
  width: 85%;
  margin: 0px auto;
}

p {
  color: var(--GrayishBlue);
} 
/*page-header & navbar*/
.logo-nav{
  padding: 22px 4.486vw 22px 4.486vw;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 500;
  background-color: white;
}
#hamburger {
  display: block;
}
#close {
  display: none;
}
#mobile-nav {
  display: none;
  cursor: pointer;
  height: fit-content;
}

a {
  color: grey !important;
}
a:hover {
  color: black !important;
}
.nav-link {
  text-decoration: none;
  position: relative;
  padding: 0.5em !important;
}
.nav-link:hover {
  border-bottom: 4px solid;
  border-image-source: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  border-image-slice: 1;
}
.page-header {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
}

/*  Intro section and Description  */
.introSection-bg {
  background-color: var(--VeryLightGray);
}
.introSection-content {
  padding-left: 1em;
}

.button {
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(90deg, var(--LimeGreen), var(--BrightCyan));
  color: white;
  font-weight: bold;
}
.mockups {
  position: relative;
  top: -50px;
  padding: 0px 17px 0px 17px;
}

/*____Main content section____*/
.mainContent-bg {
  background-color: var(--LightGrayishBlue);
}
.chooseEasybank {
  max-width: 1350px;
}
/*____Articles____*/
.articleSection-bg {
  background-color: var(--VeryLightGray);
}
.articleSection {
  max-width: 1350px;
}
.articles {
  padding: 0 !important;
  max-width: 325px !important;
}
.articleImages {
  height: 225px;
}
h4:hover {
  color: var(--BrightCyan);
}

/*____Footer Section____*/
.footerSection-bg {
  background-color: var(--DarkBlue);
}
.footerSection {
  color: white;
  max-width: 1350px;
}
ul {
  list-style: none;
}
.icon:hover {
  color: var(--LimeGreen);
}
.footerli:hover {
  color: var(--LimeGreen);
}
